.m-8 {
  margin: 8px;
}

/* padding */
.p-4 {
  padding: 4px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

[class*="p-left"][class*="8"] {
  padding-left: 8px;
}

[class*="p-bottom"][class*="8"] {
  padding-bottom: 8px;
}

/* widths */
.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-33 {
  width: 33.33%;
}

.width-25 {
  width: 25%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-66 {
  width: 66.66%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-100 {
  width: 100%;
}

/* hieghts */
.height-25 {
  height: 25%;
}

.height-50 {
  height: 50%;
}

.height-75 {
  height: 75%;
}

.height-100 {
  height: 100%;
}

/* fonts builder */
[class*="font"][class*="montserrat"] {
  font-family: Montserrat, sans-serif;
}
[class*="font"][class*="center"] {
  text-align: center;
}

[class*="font"][class*="strong"] {
  font-weight: 900;
}

[class*="font"][class*="light"] {
  font-weight: 500;
}

[class*="font"][class*="end"] {
  text-align: end;
}

[class*="font"][class*="start"] {
  text-align: start;
}

[class*="font"][class*="red"] {
  color: var(--font-red);
}

[class*="font"][class*="blue"] {
  color: var(--font-blue);
}

[class*="font"][class*="pink"] {
  color: var(--font-pink);
}

[class*="font"][class*="orange"] {
  color: var(--font-orange);
}

[class*="font"][class*="font-10"] {
  font-size: 10px;
}

[class*="font"][class*="font-11"] {
  font-size: 11px;
}

[class*="font"][class*="font-12"] {
  font-size: 12px;
}

[class*="font"][class*="font-13"] {
  font-size: 13px;
}

[class*="font"][class*="font-14"] {
  font-size: 14px;
}

[class*="font"][class*="font-15"] {
  font-size: 15px;
}

[class*="font"][class*="font-16"] {
  font-size: 16px;
}

[class*="font"][class*="font-18"] {
  font-size: 18px;
}

/* flex class builder */
[class*="flex"][class*="col"] {
  display: flex;
  flex-direction: column;
}

[class*="flex"][class*="row"] {
  display: flex;
}

[class*="flex"][class*="mid"] {
  justify-content: center;
}

[class*="flex"][class*="center"] {
  align-items: center;
}

[class*="flex"][class*="space-around"] {
  justify-content: space-around;
}

[class*="flex"][class*="space-evenly"] {
  justify-content: space-evenly;
}

[class*="flex"][class*="end"] {
  justify-content: end;
}

[class*="flex"][class*="start"] {
  justify-content: start;
}

[class*="flex"][class*="up"] {
  align-items: start;
}

[class*="flex"][class*="down"] {
  align-items: end;
}

[class*="flex"][class*="item"][class*="end"] {
  margin-top: auto;
}

[class*="flex"][class*="grow"] {
  align-items: stretch;
}

/* border styles */

[class*="border"][class*="left"] {
  border-left: solid black 2px;
}

[class*="border"][class*="right"] {
  border-right: solid black 2px;
}

[class*="border"][class*="top"] {
  border-top: solid black 2px;
}

[class*="border"][class*="bottom"] {
  border-bottom: solid black 2px;
}
