#blueprint-grid {
  display: grid;
  width: 1500px;
  height: 1200px;
  column-gap: 2px;
  grid-template-columns:
    [col-start] 1fr
    [col-left] 6fr
    [col-mid] 6fr
    [col-right] 6fr
    [col-end] 1fr;

  /* total 38fr */
  grid-template-rows:
    [row-1] 2fr
    [row-2] 4fr
    [row-3] 4fr
    [row-4] 4fr
    [row-5] 5fr
    [row-6] 4fr
    [row-7] 4fr
    [row-8] 4fr
    [row-9] 7fr;
}

.element-top-center {
  grid-column: col-mid;
  grid-row: row-2 / span 2;
}

.element-top-right {
  grid-column: col-right;
  grid-row: row-3 / span 2;
}

.element-bottom-right {
  grid-column: col-right;
  grid-row: row-6 / span 2;
}

.element-bottom-center {
  grid-column: col-mid;
  grid-row: row-7 / span 2;
}

.element-bottom-left {
  grid-column: col-left;
  grid-row: row-6 / span 2;
}

.element-top-left {
  grid-column: col-left;
  grid-row: row-3 / span 2;
}

.fill-top-left {
  grid-column: col-start / span 2;
  grid-row: row-1 / span 2;
}

.fill-top-center {
  grid-column: col-mid;
  grid-row: row-1;
}

.fill-top-right {
  grid-column: col-right / span 2;
  grid-row: row-1 / span 2;
}

.fill-center-left {
  grid-column: col-left;
  grid-row: row-5;
}

.fill-center-center {
  grid-column: col-mid;
  grid-row: row-4 / span 3;
  display: grid;
  grid-template-rows: 5fr 10fr;
}

.fill-center-right {
  grid-column: col-right;
  grid-row: row-5;
}

.fill-bottom-left {
  grid-column: col-left;
  grid-row: row-8 / span 2;
}

.fill-bottom-center {
  grid-column: col-mid;
  grid-row: row-9;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 2px;
}

.fill-bottom-right {
  grid-column: col-right;
  grid-row: row-8 / span 2;
}

.margin-left {
  grid-column: col-start;
  grid-row: row-3 / row-10;
  position: relative;
}

.margin-right {
  grid-row: col-end;
  grid-row: row-3 / row-10;
}

.margin-left-rotate {
  transform: rotate(-90deg) translate(-25%);
  text-wrap: nowrap;
  position: absolute;
  transform-origin: 37.5px;
}

.margin-right-rotate {
  transform: rotate(90deg) translate(-25%);
  text-wrap: nowrap;
  position: absolute;
  transform-origin: 37.5px;
}

.margin-left-translate {
  transform: translate(5px, 0);
}

.margin-right-translate {
  transform: translate(-5px, 0);
}

/* fill center center sub grid styles */
.center-center-sub-grid-1x2 {
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 2;
}

.center-center-sub-grid-3x2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.center-center-sub-grid-2x6 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
}

/* margin sub grid styles */
.margin-left,
.margin-right {
  display: grid;
  grid-template-rows: 752.5px;
}

/* fill bottom left and right sub grid styles */
.fill-bottom-left,
.fill-bottom-right {
  display: grid;
  grid-template-rows: 2fr 9fr;
}

.bottom-left-sub-grid-2x1,
.bottom-right-sub-grid-2x1 {
  display: grid;
  border-bottom: solid black 2px;
}

.bottom-right-sub-grid-3x1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
